<h2>Animated Weather Icons</h2>
<div>
  <div>
    <font>{{date | date: 'MM/dd/yyyy'}}</font>
  </div>
  <div [ngSwitch]="types[spot]">
    <sunny *ngSwitchCase = "'Sunny'"><h2>SUNNY</h2></sunny>
    <flurries *ngSwitchCase = "'Flurries'"></flurries>
    <thunder *ngSwitchCase = "'Thunder'"></thunder>
    <rainy *ngSwitchCase = "'Rainy'"></rainy>
    <sun-shower *ngSwitchCase = "'Sun-Shower'"></sun-shower>
    <cloudy *ngSwitchCase = "'Cloudy'"></cloudy>

    <h1 *ngSwitchCase="'Sunny'">Sunny</h1>
    <h1 *ngSwitchCase = "'Flurries'">Flurries</h1>
    <h1 *ngSwitchCase = "'Thunder'">Thunder</h1>
    <h1 *ngSwitchCase = "'Rainy'">Rainy</h1>
    <h1 *ngSwitchCase = "'Sun-Shower'">Sun-Shower</h1>
    <h1 *ngSwitchCase = "'Cloudy'">Cloudy</h1>
  </div>

</div>
